*{
    box-sizing: border-box;
}

h1,h2,h3,h4{
    margin: 0;
    font-weight: 500;
}
h1{
    font-size: 45px;
    line-height: 52px;
    color: white;
    margin-bottom: 13px;
}
h2{
    font-size: 36px;
    line-height: 43px;
    color: black;
}
h3{
    font-size: 21px;
    line-height: 25px;
    color: black;
}
h4{
    font-size: 20px;
    line-height: 24px;
    color: #4b4c50
}
p{
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}
figure{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    font-size: 18px;
}
a{
    text-decoration: none;
}
:root{
    --font1: 'Barlow', sans-serif;
}
body{
    font-family: var(--font1);
}
.main-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

/************************
        HERO-BANNER
************************/
.main-hero-banner{
    background-image: linear-gradient(109deg, #fd702c 0%, #f4375c 102%);
}
.content-hero-banner{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.hero-banner-text{
    width: 50%;
    color: white;
}
.hero-banner-text .list-hero-banner{
    list-style-type: none;
    margin: 22px 0 32px;
    font-weight: 400;
}
.hero-banner-text .list-hero-banner>li{
    margin-bottom: 10px;
}
.hero-banner-text .btn{
    display: inline-block;
    padding: 11px 15px;
    color: white;
    border-radius: 23px;
    border: solid 2px #ffffff;
}

/*****************************
    MAIN-CARACTERES
*****************************/
.caract-card-global{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.caract-card{
    width: 340px;
}
.caract-card .caract-card-text span{
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #a0a3a8;
}

/*****************************
    MAIN-DESCRIPTION
*****************************/
.main-description{
    padding: 50px 0 0;
}
.content-description{
    display: flex;
}
.content-description .description-text{
  width: 60%;
  padding: 40px 70px;
  color: #a0a3a8;
}
.content-description .description-text p{
    margin: 12px 0;
}
.description-text .list-description{
    list-style-type: none;
}
.description-text .list-description>li{
    margin-bottom: 10px;
}
/*************************
    MAIN-SCREENSHOT
*************************/
.main-screenshot{
    background-color: #f5fafd;
    padding: 100px 0;
}
.content-screenshot{
    text-align: center;
}
.content-screenshot p{
    width: 745px;
    margin: 40px auto;
    color: #a0a3a8;
}
.screenshot-img{
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
/*************************
    MAIN-PLANES
*************************/
.main-plans{
    padding: 100px 0;
}
.content-plans{ 
    text-align: center;
}
.content-plans p{
    width: 745px;
    margin: 20px auto 40px;
}
.plans-card-global{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.plans-card-global .plans-card{
    width: 280px;
    background-color: #f5fafd;
    border-radius: 12px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
.plans-card-global .plans-card h4{
    padding: 10px 0;
}
.plans-card-global .plans-card .price{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

}
.plans-card .list-plans{
    width: 205px;
    list-style-type: none;
    margin: 25px auto 50px;
    font-weight: 500;
    color: #a0a3a8
    ;
}
.plans-card .list-plans li{
    padding: 5px 0 8px;
    border-bottom: 1px dashed rgba(160, 163, 168, 0.4);
}
.plans-card span{
    font-size: 16px;
    color: #a0a3a8;
    display: block;
    margin-bottom: 15px;
}
.plans-card a{
    width: 122px;
    display: inline-block;
    padding: 11px 0;
    margin-bottom: 50px;
    border-radius: 20px;
    border: solid 2px #747474;
}