*{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5{
    margin: 0;
    font-weight: 500;
}
h1{
    font-size: 45px;
    line-height: 52px;
    color: white;
    margin-bottom: 13px;
}
h2{
    font-size: 36px;
    line-height: 43px;
    color: black;
}
h3{
    font-size: 21px;
    line-height: 25px;
    color: black;
}
h4{
    font-size: 20px;
    line-height: 24px;
    color: #4b4c50
}
h5{
    font-size: 18px;
    line-height: 21px;
    color: black;
}
p{
    font-size: 18px;
    line-height: 23px;
    margin: 0;
}
figure{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    font-size: 18px;
}
a{
    text-decoration: none;
}
:root{
    --font1: 'Barlow', sans-serif;
}
body{
    font-family: var(--font1);
}
.main-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

/************************
        HERO-BANNER
************************/
.main-hero-banner{
    background-image: linear-gradient(109deg, #fd702c 0%, #f4375c 102%);
}
.content-hero-banner{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 25px;
}
.hero-banner-text{
    width: 50%;
    color: white;
}

.hero-banner-text .list-hero-banner{
    list-style-type: none;
    margin: 22px 0 32px;
    font-weight: 400;
}
.hero-banner-text .list-hero-banner li{
    margin-bottom: 10px;
}
.hero-banner-text .list-hero-banner li>i{
    font-size: 15px;
    margin-right:10px ;

}
.hero-banner-text .btn{
    display: inline-block;
    padding: 11px 15px;
    color: white;
    border-radius: 23px;
    border: solid 2px #ffffff;
}

/*****************************
    MAIN-CARACTERES
*****************************/
.main-caract{
    padding: 50px;
}
.caract-card-global{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.caract-card{
    width: 340px;
    position: relative;
    margin-bottom: 20px;
}
.caract-card .caract-card-text{
    margin-left: 70px;
}
.caract-card .caract-card-text span{
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #a0a3a8;
}
.caract-card .caract-card-text h3{
    margin-bottom: 18px;
}
.caract-card-global .caract-card:nth-child(1) .caract-card-text h3::before{
    position: absolute;
    font-family: 'Linearicons';
    content: "\e756";
    display: inline-block;
    font-size: 45px;
    left: 0;
    top: 10px;
    color: #f4583b;
}
.caract-card-global .caract-card:nth-child(2) .caract-card-text h3::before{
    position: absolute;
    font-family: 'Linearicons';
    content: "\e672";
    display: inline-block;
    font-size: 45px;
    left: 0;
    top: 10px;
    color: #f4583b;
}
.caract-card-global .caract-card:nth-child(3) .caract-card-text h3::before{
    position: absolute;
    font-family: 'Linearicons';
    content: "\e626";
    display: inline-block;
    font-size: 45px;
    left: 0;
    top: 10px;
    color: #f4583b;
}
.caract-card-global .caract-card:nth-child(4) .caract-card-text h3::before{
    position: absolute;
    font-family: 'Linearicons';
    content: "\e7ae";
    display: inline-block;
    font-size: 45px;
    left: 0;
    top: 10px;
    color: #f4583b;
}
.caract-card-global .caract-card:nth-child(5) .caract-card-text h3::before{
    position: absolute;
    font-family: 'Linearicons';
    content: "\e6d9";
    display: inline-block;
    font-size: 45px;
    left: 0;
    top: 10px;
    color: #f4583b;
}
.caract-card-global .caract-card:nth-child(6) .caract-card-text h3::before{
    position: absolute;
    font-family: 'Linearicons';
    content: "\e7ed";
    display: inline-block;
    font-size: 45px;
    left: 0;
    top: 10px;
    color: #f4583b;
}
/*****************************
    MAIN-DESCRIPTION
*****************************/

.main-description{
    padding-top: 50px;
}
.content-description{
    display: flex;
}
.content-description .description-text{
  width: 60%;
  padding: 50px 70px;
  color: #a0a3a8;
}
.content-description .description-text p{
    margin-top: 10px;
}
.description-text .list-description{
    list-style-type: none;
    margin-top: 20px;
}
.description-text .list-description li{
    margin-bottom: 10px;
}
.description-text .list-description li>i{
    color: #f4583b;
    margin-right: 10px;
}

/*************************
    MAIN-SCREENSHOT
*************************/
.title{
    text-align: center;
    max-width: 745px;
    margin: 0 auto;
    padding: 0 40px;
}
.title p{
    margin: 40px 0 0;
    color: #a0a3a8;
}

.main-screenshot{
    background-color: #f5fafd;
    padding: 100px 0;
}
.content-screenshot{
    text-align: center;
}
.screenshot-img{
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 60px;
}

/*************************
    MAIN-PLANES
*************************/
.main-plans{
    padding: 100px 0;
}
.content-plans{ 
    text-align: center;
}
.plans-card-global{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}
.plans-card-global .plans-card{
    max-width: 270px;
    width: 22.5%;
    background-color: rgb(229, 234, 238);
    border-radius: 12px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.plans-card-global .plans-card h4{
    padding: 10px 0;
}
.plans-card-global .plans-card .price{   
    position: relative;
    background-color: white;
    padding: 30px 0;
}
.plans-card-global .plans-card .price .price-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 9999;
}
.plans-card .list-plans{
    max-width: 205px;
    list-style-type: none;
    margin: 25px auto 50px;
    font-weight: 500;
    color: #a0a3a8;
}
.plans-card .list-plans li{
    padding: 5px 0 8px;
    border-bottom: 1px dashed rgba(160, 163, 168, 0.4);
}
.plans-card .star-fre{
    font-size: 16px;
    color: #a0a3a8;
    display: block;
    margin-bottom: 15px;
}

/* efecto hover */
.plans-card-global .plans-card .price .price-text sup,
.plans-card-global .plans-card .price .price-text span{
    font-size: 20px;
    line-height: 24px;
   
}
.plans-card-global .plans-card .price::after{
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(110deg, #fd702c, #f4375c 102%);
    opacity: 0;
    
}
.plans-card:hover .price::after{
    opacity: 1;
}
.plans-card:hover .price-text h2,
.plans-card:hover .price-text sup,
.plans-card:hover .price-text span
{
    color: white;
}
/* -----------  */

.plans-card a{
    position: relative;
    width: 122px;
    height: 40px;
    display: block;
    padding: 7px 0;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    border: solid 2px #747474;
    transition: all 0.5s;
    color: #747474;
    font-weight: 700;
}
.plans-card a>span{
    position: absolute;
    display: block;
    top: 25%;
    left: 25%;
    z-index: 9999;
    
}
.plans-card a::after{
    content: " ";
    position: absolute;
    width: 122px;
    height: 40px;
    top: -2px;
    left: -2px;
    background-image: linear-gradient(110deg, #fd702c, #f4375c 102%);
    border-radius: 20px;
    opacity: 0;
    
}
.plans-card:hover{
    background-color: white;
}
.plans-card:hover a::after{
    opacity: 1;
}
.plans-card:hover a>span{
    color: white;
}

/*******************************
    MAIN-CLIENTS
*******************************/
.main-clients{
    padding: 20px 0 100px;
}

.clients-card-global{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.clients-card-global .card-clients{
    max-width: 380px;
    width: 31.67%;
    background-color: #f5fafd;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.clients-card-global .card-clients>p{
    color: #a0a3a8;
    margin-bottom: 16px;
}
.card-clients .clients-testimonial{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.clients-testimonial .testimonial{
    padding-left: 34px;
}
.clients-testimonial .testimonial span{
    color: #a0a3a8;
    margin-top: 6px;
}

/*******************************
    MAIN-DOWNLAND
*******************************/
.main-downland{
    background-image: linear-gradient(101deg, #fd702c, #f4375c 102%);
}
.content-downland>h2{
    text-align: center;
    margin-bottom: 45px;
    color: white;
}
.downland-card-global{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.downland-card-global .downland-card{
    max-width: 340px;
    width: 28.33%;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    margin-bottom: 20px;
}
.downland-card-global .downland-card>i{
    font-size: 53px;
    color: #888888;
    margin-right: 20px;
}

.downland-card-global .downland-card span{
    color: #a0a3a8;
    font-size: 16px;
}
/******************************
    MAIN-FOOTER
******************************/
.main-footer{
    background-color: #252422;
    padding: 50px 0;
    text-align: center;
}
.content-footer .footer-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-footer .footer-list li{
    width: 42px;
    height: 42px;
}
.content-footer .footer-list li>a{
    color: white;
}
.content-footer span{
    color:#a0a3a8;
}

/*****************************
    MEDIA - QUERY
*****************************/

@media screen and (max-width:1200px) {

    .main-screenshot{
        padding: 70px 40px;
    }
    .main-plans{
        padding: 70px 40px;
    }
    .main-clients{
        padding: 70px 40px;
    }
    .main-downland{
        padding: 70px 40px;
    }

    .content-description .description-text{
        padding: 40px 20px;
      }
}
@media screen and (max-width:992px) {

    h1{
        font-size: 35px;
        line-height: 40px;
    }

    .title p{
        margin: 20px 0 0;
    }

    
    .hero-banner-text p{
        font-size: 16px;
        line-height: 20px;
    }
    .hero-banner-text .list-hero-banner li{
        font-size: 15px;
    }

    .content-description{
        flex-direction: column;
    }
    .content-description .description-text{
        order: 1;
        text-align: center;
        width: 100%;
    }
    .content-description .description-text p{
        max-width: 600px;
       margin-left: auto;
       margin-right: auto;
    }
    .content-description .description-text .list-description{
        text-align: left;
        max-width: 460px;
        margin-left: auto;
        margin-right: auto;   
    }
    .content-description .description-img{
        order: 2;
        width: 350px;
        margin: 0 auto;
    } 

}
@media screen and (max-width:768px) {

    p{
        font-size: 16px;
        line-height: 20px;
    }
    li{
        font-size: 15px;
    }

    .content-hero-banner{
        flex-direction: column;
        text-align: center;
    }
    .hero-banner-text{     
        width: 100%;
        margin-bottom: 20px;
    }
    .content-hero-banner .hero-banner-img{
        display: none;
    }
    .content-hero-banner{
        height: 500px;
    }

    .content-description .description-text .list-description{
        text-align: center; 
    }

    .plans-card-global .plans-card{
        max-width: 270px;
        width: 100%;
    }

    .clients-card-global {
        flex-direction: column;
    }
    .clients-card-global .card-clients{
        max-width: 380px;
        width: 100%;
    }


    .downland-card-global{
        flex-direction: column;
    }
    .downland-card-global .downland-card{
        width: 100%;
    }


    
}
@media screen and (max-width:500px){

    h2{
        font-size: 30px;
        line-height: 35px;
        color: black;
    }
    h3{
        font-size: 18px;
        line-height: 20px;
        color: black;
    }
    h4{
        font-size: 17px;
        line-height: 20px;
        color: #4b4c50
    }
    h5{
        font-size: 16px;
        line-height: 20px;
        color: black;
    }
  

    .title{
        padding: 0 0;
    }



    .plans-card-global .plans-card{
        max-width: 270px;
        width: 100%;
    }

}