*{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5{
    margin: 0;
    font-weight: 500;
}
h1{
    font-size: 45px;
    line-height: 52px;
    color: white;
    margin-bottom: 13px;
}
h2{
    font-size: 36px;
    line-height: 43px;
    color: black;
}
h3{
    font-size: 21px;
    line-height: 25px;
    color: black;
}
h4{
    font-size: 20px;
    line-height: 24px;
    color: #4b4c50
}
h5{
    font-size: 18px;
    line-height: 21px;
    color: black;
}
p{
    font-size: 18px;
    line-height: 23px;
    margin: 0;
}
figure{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    font-size: 18px;
}
a{
    text-decoration: none;
}
:root{
    --font1: 'Barlow', sans-serif;
}
body{
    font-family: var(--font1);
}
.main-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

/************************
        HERO-BANNER
************************/
.main-hero-banner{
    background-image: linear-gradient(109deg, #fd702c 0%, #f4375c 102%);
}
.content-hero-banner{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.hero-banner-text{
    width: 50%;
    color: white;
}
.hero-banner-text .list-hero-banner{
    list-style-type: none;
    margin: 22px 0 32px;
    font-weight: 400;
}
.hero-banner-text .list-hero-banner>li{
    margin-bottom: 10px;
}
.hero-banner-text .btn{
    display: inline-block;
    padding: 11px 15px;
    color: white;
    border-radius: 23px;
    border: solid 2px #ffffff;
}

/*****************************
    MAIN-CARACTERES
*****************************/
.caract-card-global{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}
.caract-card{
    width: 340px;
    position: relative;
    margin-bottom: 20px;
}
.caract-card .caract-card-text{
    margin-left: 70px;
}
.caract-card .caract-card-text span{
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #a0a3a8;
}
.caract-card .caract-card-text h3{
    margin-bottom: 18px;
}
.caract-card-global .caract-card:nth-child(1) .caract-card-text h3::before{
    position: absolute;
    font-family: 'Linearicons';
    content: "\e756";
    display: inline-block;
    font-size: 45px;
    left: 0;
    top: 10px;
    color: #f4583b;
}
.caract-card-global .caract-card:nth-child(2) .caract-card-text h3::before{
    position: absolute;
    font-family: 'Linearicons';
    content: "\e672";
    display: inline-block;
    font-size: 45px;
    left: 0;
    top: 10px;
    color: #f4583b;
}
.caract-card-global .caract-card:nth-child(3) .caract-card-text h3::before{
    position: absolute;
    font-family: 'Linearicons';
    content: "\e626";
    display: inline-block;
    font-size: 45px;
    left: 0;
    top: 10px;
    color: #f4583b;
}
.caract-card-global .caract-card:nth-child(4) .caract-card-text h3::before{
    position: absolute;
    font-family: 'Linearicons';
    content: "\e7ae";
    display: inline-block;
    font-size: 45px;
    left: 0;
    top: 10px;
    color: #f4583b;
}
.caract-card-global .caract-card:nth-child(5) .caract-card-text h3::before{
    position: absolute;
    font-family: 'Linearicons';
    content: "\e6d9";
    display: inline-block;
    font-size: 45px;
    left: 0;
    top: 10px;
    color: #f4583b;
}
.caract-card-global .caract-card:nth-child(6) .caract-card-text h3::before{
    position: absolute;
    font-family: 'Linearicons';
    content: "\e7ed";
    display: inline-block;
    font-size: 45px;
    left: 0;
    top: 10px;
    color: #f4583b;
}
/*****************************
    MAIN-DESCRIPTION
*****************************/
.main-description{
    padding: 50px 0 0;
}
.content-description{
    display: flex;
}
.content-description .description-text{
  width: 60%;
  padding: 40px 70px;
  color: #a0a3a8;
}
.content-description .description-text p{
    margin: 12px 0;
}
.description-text .list-description{
    list-style-type: none;
}
.description-text .list-description>li{
    margin-bottom: 10px;
}
/*************************
    MAIN-SCREENSHOT
*************************/
.main-screenshot{
    background-color: #f5fafd;
    padding: 100px 0;
}
.content-screenshot{
    text-align: center;
}
.content-screenshot p{
    width: 745px;
    margin: 40px auto;
    color: #a0a3a8;
}
.screenshot-img{
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
}
/*************************
    MAIN-PLANES
*************************/
.main-plans{
    padding: 100px 0;
}
.content-plans{ 
    text-align: center;
}
.content-plans p{
    width: 745px;
    margin: 20px auto 40px;
}
.plans-card-global{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.plans-card-global .plans-card{
    width: 280px;
    background-color: #f5fafd;
    border-radius: 12px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.5;


}
.plans-card-global .plans-card h4{
    padding: 10px 0;
}
.plans-card-global .plans-card .price{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    transition: background-color 0.5s;

}
.plans-card .list-plans{
    width: 205px;
    list-style-type: none;
    margin: 25px auto 50px;
    font-weight: 500;
    color: #a0a3a8
    ;
}
.plans-card .list-plans li{
    padding: 5px 0 8px;
    border-bottom: 1px dashed rgba(160, 163, 168, 0.4);
}
.plans-card span{
    font-size: 16px;
    color: #a0a3a8;
    display: block;
    margin-bottom: 15px;
}
.plans-card a{
    width: 122px;
    display: inline-block;
    padding: 11px 0;
    margin-bottom: 50px;
    border-radius: 20px;
    border: solid 2px #747474;
    transition: all 0.5s;
}
.plans-card:hover{
    background-color: yellow;
    transition: all 0.5;
}


/*******************************
    MAIN-CLIENTS
*******************************/
.main-clients{
    padding: 100px 0;
}
.title{
    text-align: center;
    width: 745px;
    margin: 0 auto;
}
.title p{
    margin: 20px 0;
    color: #a0a3a8;
}
.clients-card-global{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.clients-card-global .card-clients{
    max-width: 380px;
    background-color: #f5fafd;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
.clients-card-global .card-clients>p{
    color: #a0a3a8;
    margin-bottom: 16px;
}
.card-clients .clients-testimonial{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.clients-testimonial .testimonial{
    padding-left: 34px;
}
.clients-testimonial .testimonial span{
    color: #a0a3a8;
    margin-top: 6px;
}

/*******************************
    MAIN-DOWNLAND
*******************************/
.main-downland{
    background-image: linear-gradient(101deg, #fd702c, #f4375c 102%);
}
.content-downland{
    padding: 80px 0;
}
.content-downland>h2{
    text-align: center;
    margin-bottom: 45px;
    color: white;
}
.downland-card-global{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.downland-card-global .downland-card{
    max-width: 340px;
    width: 100%;
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.downland-card-global .downland-card span{
    color: #a0a3a8;
    font-size: 16px;
}

/******************************
    MAIN-FOOTER
******************************/
.main-footer{
    background-color: #252422;
    padding: 50px 0;
    text-align: center;
}
.content-footer .footer-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-footer .footer-list li{
    width: 42px;
    height: 42px;
}
.content-footer .footer-list li>a{
    color: white;
}
.content-footer span{
    color:#a0a3a8;
}
